* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  height: 100vh;
  border: 1px solid black;
  flex: 1 1 0%;
  flex-direction: column;
  display: flex;
}

.chat-container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.input-container {
  display: flex;
}

.input-container .user {
  width: 100px;
}

.input-container .message {
  flex: 1 1 0%;
}

